.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.body-site{
    margin-left: 20px;
}
.product-name{
    color: blue;
    font-weight: 400;
}
.text-small{
    font-size: small;
}
.add-cart-btn{
    background-color: #f0c14b;
    border: 1px solid #a88734;
    color: black;
    width: 200px;
    height: 26px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
}